* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(221, 100%, 96%);
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
}

.card {
  width: 300px;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
}
.card__container--result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: hsl(241, 100%, 89%);
  padding: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.card__text {
  margin-bottom: 20px;
  font-weight: 700;
}
.card__group--average {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-image: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
}
.card__average {
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
  font-weight: 800;
}
.card__denom {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
}
.card__feedback {
  color: hsl(0, 0%, 100%);
  padding: 20px;
}
.card__container--summary {
  margin: 20px;
}
.card__title {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}
.card__wrapper {
  display: flex;
  padding: 13px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 12px;
  font: 700;
}
.card__wrapper img {
  width: 17px;
}
.card__item-score {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
  font-size: 15px;
}
.card__item-score .--gray {
  color: rgba(48, 59, 90, 0.5);
}
.card__wrapper--reaction {
  background-color: rgba(255, 87, 87, 0.1);
}
.card__wrapper--reaction .card__title--reaction {
  color: hsl(0, 100%, 67%);
  margin-right: auto;
  margin-left: 0.4rem;
}
.card__wrapper--memory {
  background-color: rgba(255, 176, 31, 0.1);
}
.card__wrapper--memory .card__title--memory {
  color: hsl(39, 100%, 56%);
  margin-right: auto;
  margin-left: 0.4rem;
}
.card__wrapper--verbal {
  background-color: rgba(0, 189, 145, 0.1);
}
.card__wrapper--verbal .card__title--verbal {
  color: hsl(166, 100%, 37%);
  margin-right: auto;
  margin-left: 0.4rem;
}
.card__wrapper--visual {
  background-color: rgba(17, 37, 212, 0.1);
}
.card__wrapper--visual .card__title--visual {
  color: hsl(234, 85%, 45%);
  margin-right: auto;
  margin-left: 0.4rem;
}
.card__btn {
  color: hsl(0, 0%, 100%);
  background-color: hsl(224, 30%, 27%);
  border: none;
  padding: 1rem 1rem;
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 5rem;
  font-weight: 700;
}
.card__btn:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.card__btn:active {
  background-color: hsl(241, 81%, 54%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  visibility: hidden;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  body {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    display: flex;
    flex-direction: row;
    width: 600px;
    box-shadow: 0 5px 25px hsl(241, 100%, 89%);
    border-radius: 2rem;
  }
  .card__container--result {
    width: 55%;
    border-radius: 2rem;
  }
  .card__text {
    margin-bottom: 20px;
    font-size: 1.25rem;
  }
  .card__group--average {
    width: 150px;
    height: 150px;
    gap: 0.5rem;
  }
  .card__paragraph {
    padding: 0 20px;
  }
  .card__container--summary {
    width: 50%;
  }
  .card__average {
    font-size: 4rem;
  }
  .card__feedback {
    font-size: 1.55rem;
  }
  .card__title {
    font-size: 1.25rem;
  }
  .attribution {
    visibility: visible;
  }
}/*# sourceMappingURL=style.css.map */